//Paleta de Colores
$color-blanco: #f7f7ff;
$color-azulclaro: #bdd5ea;
$color-azuloscuro: #577399;
$color-gris: #495867;
$color-negro: #000000;
$color-grisfondo: #232528;
$color-morado: #813772;
$color-dorado: #efb810;
